body {
    background-color: rgb(69, 193, 235);
}

.container {
    text-align: center;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: orangered;
}
